/*
 * Reset css.
 */
/* line 17, ../../../../../usr/local/opt/rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/opt/rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/opt/rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/opt/rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/opt/rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/opt/rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/opt/rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/opt/rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/opt/rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 * Application styles.
 */
/* line 1, ../sass/_app.scss */
body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

/* line 4, ../sass/_app.scss */
a {
  text-decoration: none;
}
/* line 7, ../sass/_app.scss */
a:hover {
  text-decoration: underline;
}

/* line 11, ../sass/_app.scss */
.container {
  margin: 0 auto;
}

/* line 14, ../sass/_app.scss */
h1 {
  background: url("../img/title.png"), -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #333333), color-stop(100%, #777777));
  background: url("../img/title.png"), -webkit-linear-gradient(bottom, #333333, #777777);
  background: url("../img/title.png"), -moz-linear-gradient(bottom, #333333, #777777);
  background: url("../img/title.png"), linear-gradient(bottom, #333333, #777777);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
}

/* line 23, ../sass/_app.scss */
.tw-form {
  padding: 5px 15px 5px 5px;
}
/* line 26, ../sass/_app.scss */
.tw-form .tw-search {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 95%;
  height: 20px;
  padding: 5px;
  margin: 5px 10px;
  border: 1.5px solid #cccccc;
  font-size: 14px;
}

/* line 36, ../sass/_app.scss */
.tw-content {
  padding: 10px 10px 10px 75px;
  position: relative;
  min-height: 48px;
}
/* line 41, ../sass/_app.scss */
.tw-content:nth-child(odd) {
  -webkit-box-shadow: #999999 0px 0px 5px inset;
  -moz-box-shadow: #999999 0px 0px 5px inset;
  box-shadow: #999999 0px 0px 5px inset;
}
/* line 44, ../sass/_app.scss */
.tw-content .avatar {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  width: 48px;
  height: 48px;
}
/* line 54, ../sass/_app.scss */
.tw-content p {
  margin: 5px;
  word-wrap: break-word;
}
/* line 58, ../sass/_app.scss */
.tw-content p.user {
  font-weight: bold;
}
/* line 61, ../sass/_app.scss */
.tw-content p.user a {
  color: #333;
}
/* line 66, ../sass/_app.scss */
.tw-content p.text a {
  color: #636999;
}

/*
 * Looding view styles.
 */
/* line 1, ../sass/_loading.scss */
.loading {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin: 15px auto;
  position: relative;
}
/* line 9, ../sass/_loading.scss */
.loading.bar div {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-animation-name: tw-loading;
  -moz-animation-name: tw-loading;
  animation-name: tw-loading;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  width: 4px;
  height: 15px;
  background: black;
  position: absolute;
  top: 35px;
  left: 45px;
  opacity: 0.05;
}
/* line 25, ../sass/_loading.scss */
.loading.bar div:nth-child(1) {
  -webkit-transform: rotate(0deg) translate(0, -20px);
  -moz-transform: rotate(0deg) translate(0, -20px);
  transform: rotate(0deg) translate(0, -20px);
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s;
}
/* line 25, ../sass/_loading.scss */
.loading.bar div:nth-child(2) {
  -webkit-transform: rotate(30deg) translate(0, -20px);
  -moz-transform: rotate(30deg) translate(0, -20px);
  transform: rotate(30deg) translate(0, -20px);
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
/* line 25, ../sass/_loading.scss */
.loading.bar div:nth-child(3) {
  -webkit-transform: rotate(60deg) translate(0, -20px);
  -moz-transform: rotate(60deg) translate(0, -20px);
  transform: rotate(60deg) translate(0, -20px);
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
/* line 25, ../sass/_loading.scss */
.loading.bar div:nth-child(4) {
  -webkit-transform: rotate(90deg) translate(0, -20px);
  -moz-transform: rotate(90deg) translate(0, -20px);
  transform: rotate(90deg) translate(0, -20px);
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
/* line 25, ../sass/_loading.scss */
.loading.bar div:nth-child(5) {
  -webkit-transform: rotate(120deg) translate(0, -20px);
  -moz-transform: rotate(120deg) translate(0, -20px);
  transform: rotate(120deg) translate(0, -20px);
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
/* line 25, ../sass/_loading.scss */
.loading.bar div:nth-child(6) {
  -webkit-transform: rotate(150deg) translate(0, -20px);
  -moz-transform: rotate(150deg) translate(0, -20px);
  transform: rotate(150deg) translate(0, -20px);
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
/* line 25, ../sass/_loading.scss */
.loading.bar div:nth-child(7) {
  -webkit-transform: rotate(180deg) translate(0, -20px);
  -moz-transform: rotate(180deg) translate(0, -20px);
  transform: rotate(180deg) translate(0, -20px);
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
/* line 25, ../sass/_loading.scss */
.loading.bar div:nth-child(8) {
  -webkit-transform: rotate(210deg) translate(0, -20px);
  -moz-transform: rotate(210deg) translate(0, -20px);
  transform: rotate(210deg) translate(0, -20px);
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
/* line 25, ../sass/_loading.scss */
.loading.bar div:nth-child(9) {
  -webkit-transform: rotate(240deg) translate(0, -20px);
  -moz-transform: rotate(240deg) translate(0, -20px);
  transform: rotate(240deg) translate(0, -20px);
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
/* line 25, ../sass/_loading.scss */
.loading.bar div:nth-child(10) {
  -webkit-transform: rotate(270deg) translate(0, -20px);
  -moz-transform: rotate(270deg) translate(0, -20px);
  transform: rotate(270deg) translate(0, -20px);
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
/* line 25, ../sass/_loading.scss */
.loading.bar div:nth-child(11) {
  -webkit-transform: rotate(300deg) translate(0, -20px);
  -moz-transform: rotate(300deg) translate(0, -20px);
  transform: rotate(300deg) translate(0, -20px);
  -webkit-animation-delay: 1.0s;
  -moz-animation-delay: 1.0s;
  animation-delay: 1.0s;
}
/* line 25, ../sass/_loading.scss */
.loading.bar div:nth-child(12) {
  -webkit-transform: rotate(330deg) translate(0, -20px);
  -moz-transform: rotate(330deg) translate(0, -20px);
  transform: rotate(330deg) translate(0, -20px);
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  animation-delay: 1.1s;
}

/*
 * Animation: tw-loading
 */
@-webkit-keyframes tw-loading {
  /* line 39, ../sass/_loading.scss */
  0% {
    opacity: 1;
  }

  /* line 42, ../sass/_loading.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes tw-loading {
  /* line 47, ../sass/_loading.scss */
  0% {
    opacity: 1;
  }

  /* line 50, ../sass/_loading.scss */
  100% {
    opacity: 0;
  }
}

@keyframes tw-loading {
  /* line 55, ../sass/_loading.scss */
  0% {
    opacity: 1;
  }

  /* line 58, ../sass/_loading.scss */
  100% {
    opacity: 0;
  }
}
